---
interface Props {
    id: string;
    title: string;
}

const { id, title } = Astro.props;
---

<section id={id} class="content-section">
    <h2>{title}</h2>
    <slot />
</section>

<style>
    .content-section {
        text-align: center;
        padding: 1rem 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    .content-section h2 {
        font-style: italic;
        font-size: 2.5rem;
        margin-bottom: 2rem;
        margin: 1.5rem;
        color: #000d1b;
        text-align: center;
    }
</style>








