---

---

<footer class="footer">
    <div class="container">
        <div class="branch">© 2025 CTech. Todos los derechos reservados.</div>
        <div class="muted">
            <p>Comunidad Technology unidos — Hub educativo para comunidades en Colombia.</p>
        </div>
    </div>
</footer>

<style>
    .footer {
        padding: 0;
        text-align: center;
        color: rgba(41, 41, 41, 0.877);
    }

    .footer p {
        font-size: 15px;
    }
</style>